.loginContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction:  column;
/* background-color:red; */
/* background-image: url('/ganbatteFrame.png'); */
  background-position: center;
  background-size: 99% 99%;
    background-repeat: no-repeat;
width:100vw;
height: 100vh;
overflow: hidden;

}


.login { 
    margin-top:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:250px;
    height:120px;
    background-image: url('/signIn.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* flex-grow: 1; */
    
}

.signIn{
    /* z-index: 1; */
    position: absolute;
    width:50px;
    height: 50px;
    
    top:57%;
}                                                                      

 .input1{
     border:none;
     height: 20px;
    width:140px;
     background:none;
    color: black;
    font-size: 15px;
    outline:none;
    text-align: center;
 }
 .input2{
    text-align: center;

     height: 20px;
    width:140px;
     margin-top: 8px;
     margin-bottom: 14px;
     background:transparent;
     border:none;
     color: black;
    font-size: 15px;
    outline:none;
 }

 input:focus::placeholder {
  color: transparent;
} 

.loginButton{
    align-self: center;
    display: inline-flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* padding-top:50px; */
    width:100%;
    height: 10px;
}

.submit{
    flex-grow: 1;
    margin-top:150px;
    background-image: url('/fliptoSign1.jpg');
    background-position: center;
    background-size: 50% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width:100px;
    height: 60px;
    border:none;
    outline:none;
    transition:
                transform 150ms ease;
}

.touched{
  flex-grow: 1;
    margin-top:150px;
    background-image: url('/fliptoSign2.jpg');
    background-position: center;
    background-size: 50% 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width:100px;
    height: 60px;
    border:none;
    outline:none;
}

.error{
    margin-bottom: -10%;
    width:80%;
    height: 70px;
    text-align: center;
    background-image: url('/wrongEmail.gif');
    background-size: 100% 100%;
    background-position: center;
}

.submit:active {
    /* transform: scale(0.99); */
}