.fileUpload{
  grid-area: box;
  text-align: center;
width:100%;
  height: 25%;
  background-color: red;
}

.div2{
  /* background-image: url('/navPaneClear.png'); */
   /* flex-direction: column; */
    align-items: center ;
    justify-content: flex-end;
  background-position: center;
  background-size: 100% 100%;
    background-repeat: no-repeat;
  /* flex-grow: 1; */
    display: flex;
  /* height: 100%; */
  min-width: 35px;
  max-width:130px;
  height: 100vh;
  overflow: hidden;
z-index: 2;
/* background-color:rgba(250, 0, 25, .3); */
/* border:1px solid black; */
}

.slider{
/* background-image: url('/basicFrame2.png'); */
  background-position: center;
  background-size: 100% 100%;
    background-repeat: no-repeat;
   flex-grow: 2;
    display: flex;
min-width: 30px;
height: 100vh;
/* background-color:rgba(0, 125, 255, .4); */
z-index: 1;
border:1px solid black;

  


}



.slideTabImg{
  z-index: 2;
  max-width: 200px;
  height: 97%;
  margin-bottom:25px;
}

